<>
<h1>Partial Rendered </h1>
<%= render :partial=>"view_all_emp", :locals=>{:user=>User.new} %>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
sdbjkgjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>

