<div id="sidepanel">
<br><br>
<%= link_to "View Projects",projects_path %>
<br><br><hr>

<br>
<%= link_to "View User",users_path %>
</div>

<div id="content">
<h1>Welcome Admin</h1>

<h4>Use the tab and navigate to pages wher eyou can find the details of the projects. The projects can be viewed, edited and assigned to different employees.

<h4>You can also view the details of the employees. The same will inform you about the projects, the employee is handling.

</div>


