<div id="sidepanel">
<%#= link_to "View Projects",projects_path %>

<%#= link_to "View User",users_path %>
</div>
<div id="content">

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |


</div>
